.DS_Store
node_modules/
**/venv/
*.log
**/.env
**/.env.*
dist/
build/
.cache/
.temp/
.tmp/
*.swp
*.swo
*~
.vscode/
.idea/
*.iml
coverage/
.nyc_output/
.sass-cache/
*.css.map
*.js.map
thumbs.db
desktop.ini