.container {
    padding: 20px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.title {
    font-size: 3rem;
    color: #f2f2f2;
    font-weight: bold;
}

.content {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 10px;
}