.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading{
  font-size: 4rem;
  font-weight: 400;
  z-index: 1;
  margin: 30px 0;
}

@media (max-width: 800px) {
  .heading{
    margin: 15px 0;
    font-size: 35px;
  }
}